
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


h1 {
    font-size: 36px;
    color: #d9534f;
    margin-bottom: 20px;
}


p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #c9302c;
}


a {
    display: inline-block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    transition: color 0.3s ease;
}

a:hover {
    color: #d9534f;
}
