{% extends 'applicationBase.html' %}

{% block content %}

<h4 class="bg-white">User Configuration</h4>

<form action="" class="bg-white">
    <label for="txtFullName" class="bg-white" style="margin-top: 25px;">Full Name</label>
    <input style="margin-top: 5px;" type="text" name="txtFullName" id="txtFullName" value = "{{ user.nombre }}"
        class="form-control bg-white">
    <label for="txtEmail" class="bg-white" style="margin-top: 50px;">Email</label>
    <input style="margin-top: 5px;" type="text" name="txtEmail" id="txtEmail" value = " {{ user.correo }}"
        class="form-control bg-white">
    <label for="txtDate" class="bg-white" style="margin-top: 50px;">Date of Birth</label>
    <input style="margin-top: 5px;" type="date" name="txtDate" id="txtDate" value = "{{ user.fecha_nacimiento }}" class="form-control bg-white">
    <label for="txtDescription" class="bg-white" style="margin-top: 50px;">Who are you?</label>
    <input style="margin-top: 5px;" type="text" name="txtDescription" id="txtDescription" placeholder="replace with user description"
        class="form-control bg-white">
    <div class="row justify-content-center bg-white" style="margin-top: 50px;">
        <div class="col-xl-4 bg-white">
            <button class="btn btn-outline-primary" style="width: 100%;">Save Changes</button>
        </div>
    </div>
</form>
<div class="row justify-content-center bg-white" style="margin-top: 25px;">
    <div class="col-xl-4 bg-white">
        <button class="btn btn-outline-primary" style="width: 100%;">Update Pasword</button>
    </div>
</div>
<div class="row justify-content-center bg-white" style="margin-top: 25px;">
    <div class="col-xl-4 bg-white">
        <button class="btn btn-outline-primary" style="width: 100%;">Delete User</button>
    </div>
</div>

{% endblock %}