{% extends 'applicationBase.html' %}
{% load static %}

{% block content %}
<div class="container1">
    <div class="card-body bg-white col-central">
        <div class="header-content2">
            <img src="{% static 'images/log-lista.png' %}" class="img-list">
            <h1 class="text-user">Pending friend requests</h1>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body bg-white col-central">
        {% if friends_solicitud %}
        <ul class="list-friends">
            {% for solicitud in friends_solicitud %}
            <li>
                <form action="{% url 'delete_accept_request' %}" method="POST">
                    <div class="friend-item">
                        <img src='{% static solicitud.Id_emisor.imagen %}' alt="Foto de amigo">
                        <div class="friend-info1">
                            <li>
                            <h3>{{ solicitud.Id_emisor.nombre }}</h3>
                            <span class="common-friend1" {{item.friend_in_commond}} > friend in common</span>
                            </li>
                        </div>
                        <div class="button-container">
                            {% csrf_token %}
                            <input type="hidden" name="solicitud_id" value="{{ solicitud.pk }}">
                            <button type="submit" class="btn-delete" name="accion" value="eliminar">
                                <img src="{% static 'images/icon-cancel.png' %}" style="width: 40px; height: 40px;">
                            </button>
                            <button type="submit" class="btn-accept" name="accion" value="aceptar">
                                <img src="{% static 'images/icon-yes.png' %}" style="width: 40px; height: 40px;">
                            </button>
                        </div>
                    </div>
                </form>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="container_no_friend">
            <div class="no-friend">
                <p>No tienes solicitudes de amistad pendientes</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<script>
    {% if messages %}
        {% for message in messages %}
            Swal.fire({
                icon: '{% if message.tags == "success" %}success{% elif message.tags == "warning" %}warning{% endif %}',  // Usamos la clase "success" o "warning" según el tipo de mensaje
                title: 'Friend Request Sent!',
                text: "{{ message }}",
                showConfirmButton: false,
                timer: 3000 
            });
        {% endfor %}
    {% endif %}
</script>
{% endblock %}





