body{
    background-color: #DFDEEF;
}

.sections {
    margin-top: 15px;
}

.cardheaderUser {
    background-color: white;
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSEYs2wRGtYk1f40lX_i-CmhQMwcsfUaGTw8NzOwMY3pSvJuWtE");
    background-repeat: no-repeat;
    background-size: 100% 60%;
}

.iconStyle {
    width: 45px;
    object-fit: cover;
    background-color: transparent;
}

.navbar-friends{
    color:black;
    padding-top: 15px;
}

.navbar-friends ul{
    display: flex;
    list-style: none;;   
    margin-left: -15px;
}

.navbar-friends li{
    margin-right: 50px;
}

.txt-list{
    font-size: 22px;
}

.col-central{
    border-radius: 10%;
}

.lista-amigos {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
  }
  


.form-container {
    /* Estilos para el contenedor del formulario */
    margin-bottom: 20px; /* Espacio inferior para separarlo de la lista */
}

.bcn-buscar{
    display: inline-block;
    background-color:#D0CECD  ; /* Color de fondo del botón */
    background-size: cover;
    background-repeat: no-repeat;
    color: #040404  ; /* Color del texto del botón */
    margin-bottom: 15px;
    padding: 5px 5px;
    text-decoration: none; /* Sin subrayado */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-right: 10px;
    position: relative;
}

.btn-add {
    background-color: #008000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-add:hover {
    background-color: #006600;
  }
  





















.amigo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.amigo-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.amigo-info {
    display: flex;
    flex-direction: column;
}
  
.amigo-info h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 22px;
}
  
.en-comun {
    font-size: 12px;
    color: #888;
}
  
.btn-agrega {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 5px;
}
 
.htn-agregar {
    background-color: #008000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .htn-agregar:hover {
    background-color: #75f;
  }
  
  .amigo-items {
    display: flex;
    background-color:#75f;
    align-items: center;
    margin-bottom: 10px;
}

.amigo-items img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}