body {
    background-color: #DFDEEF;
}

.sections {
    margin-top: 15px;
}

.cardheaderUser {
    background-color: white;
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSEYs2wRGtYk1f40lX_i-CmhQMwcsfUaGTw8NzOwMY3pSvJuWtE");
    background-repeat: no-repeat;
    background-size: 100% 60%;
}

.iconStyle {
    width: 45px;
    object-fit: cover;
    background-color: transparent;
}

.pendiente {
    font-size: 12px;
    color: #fff;
    background-color: red;
    padding: 5px 8px;
    border-radius: 5px;
    margin-top: 6px;
    width:40px;
}

.btn-add {
    display: inline-block;
    background-color: #D0CECD;
    background-size: cover;
    background-repeat: no-repeat;
    color: #040404;
    margin-bottom: 15px;
    padding: 5px 5px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
}

.btn-addd {
    color: #040404;
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    margin-top: 6px;
    margin-left: 8px; /* Ajusta el margen izquierdo para que esté al lado derecho del contenedor .friend-info */
}

.navbar-friends {
    color: black;
    padding-top: 15px;
    background-color: white;
}

.navbar-friends ul {
    display: flex;
    list-style: none;
    margin-top: 15px;
}

.navbar-friends li {
    margin-right: 50px;
}

.txt-list {
    font-size: 22px;
}

.col-central {
    border-radius: 10%;
}

.list-friends {
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
}

.friend-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Alinea los elementos con espacio entre ellos */
    margin-bottom: 10px;
    background-color: #DFDEEF;
    padding: 10px;
    /* Ajusta el espaciado interno de cada elemento */
}

.friend-item .users-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.friend-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-info {
    flex: 1;
    /* Ajusta la flexibilidad del contenedor */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Alinea horizontalmente los elementos en el contenedor */
    margin-left: 10px;
    /* Agrega un margen entre la imagen y el nombre del usuario */
}

.friend-info h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 22px;
}

.form-container {
    margin-bottom: 20px;
    /* Ajusta el valor según tus necesidades */
}

.common-friend {
    font-size: 12px;
    color: #888;
}

.btn-add {
    border: none;
    padding-left: 5px;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
}

.btn-search {
    background: #3390FF;
    color: #DFDEEF;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 30%;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    text-align: center;
}

.text-search {
    margin-top: 8px;
    margin-bottom: 10px;
    height: 30px;
    color: #3390FF;
    opacity: 1;
    background-color: #DFDEEF;
    margin-right: 15px;
}

.text-user {
    margin-top: 12px;
    margin-left: 15px;
    font-size: 22px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.users-container {
    display: flex;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    /* Centra verticalmente los elementos */
    margin-left: 10px;
    /* Añade el margen entre el encabezado y el enlace */
}

.container-list {
    margin-top: 20px;
    padding-top: 2px;
    background-color: gainsboro;
}

.img-user {
    margin-top: 5px;
    width: 45px;
    height: 45px;
}

.img-list {
    margin-top: 5px;
    width: 45px;
    height: 45px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-left: 250px;
    margin-top: 5px;
    margin-right: 9px;

}