{% extends 'applicationBase.html' %}

{% block content %}
{% load static %}
<h1>Crear Publicación</h1>
    <h2>Bienvenido, {{ user.nombre}}!</h2>
    <form action="/crear/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" required></textarea>
        <br>

        <label for="imagen">Imagen:</label>
        <input type="file" id="imagen" name="imagen" required>
        <br>

        <input type="submit" value="Guardar">
    </form>
{% endblock %}
