<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../templates/css/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title>Create Post - Conectopia</title>
</head>

<body>
  <div class="main-container">
    

    <div class="center-container">
      <div class="newPost-container">
        <div class="upper-newPost">
          <div class="pfp-container-small">
            <img src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="" class="pfp-small">
          </div>
          <textarea id="postContent" placeholder="Share your thoughts ..."></textarea>
        </div>
        <div class="newPost-options-container">
          <div class="newPost-options">
            <i class="fa-regular fa-image"></i>
            <p>Image</p>
          </div>
          <div class="newPost-options">
            <i class="fa-solid fa-icons"></i>
            <p>Feeling</p>
          </div>
          <div class="newPost-options">
            <i class="fa-solid fa-people-arrows"></i>
            <p>Friends</p>
          </div>
        </div>
        <div class="newPost-button-container">
          <button id="postButton">Post</button>
        </div>
      </div>
     
    </div>

    
  </div>
</body>

</html>
