{% extends 'applicationBase.html' %}

{% block content %}
{% load static %}

<style>
    .btn-outline-app {
        color: rgb(177, 156, 217);
        /* Text color */
        background-color: transparent;
        /* Transparent background */
        border: 2px solid rgb(177, 156, 217);
        /* Border color */
    }

    /* Hover effect */
    .btn-outline-app:hover {
        background-color: rgba(177, 156, 217, 0.514);
        /* Background color on hover */
        color: #fff;
        /* Text color on hover */
    }
</style>

<!-- New Post -->
<div class="row">
    <div class="card" style="background-color: rgba(177, 156, 217, 0.062); border: none;">
        <div class="card-body">
            <form action="/createPost/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <img src="{% static user.imagen %}" alt="profilepic" class="rounded-circle img-fluid bg-white"
                            style="object-fit: cover; width: 80%; height: 75px">
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="txtPost" id="txtPost" class="form-control"
                            placeholder="Share your thoughts" style="width: 100%; height: 100px;" required>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <input type="file" name="txtPostImage" id="txtPostImage" class="form-control"
                                    accept="image/*">
                            </div>
                            <div class="col-md-6">
                                <select id="txtPreference" name="txtPreference" class="form-control" required>
                                    {% for posiblePreference in preferencePost%}
                                    <option value="{{posiblePreference.pk}}">{{posiblePreference.gusto}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 10px;">
                            <div class="col-12">
                                <img src="" alt="" style="width: 100%;" id="postImage" name="postImage">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row justify-content-center" style="margin-top: 25px;">
                    <button class="btn btn-outline-app">Post</button>
                </div>
            </form>
        </div>
    </div>

</div>

<!-- Post List -->
<div class="row justify-content-center" style="margin-top: 25px;">
    <h4 class="text-muted text-center">What's new today</h4>
    {% for post in postList %}
    <div class="row" style="margin-top: 10px;">
        <div class="card" style="background-color: rgba(177, 156, 217, 0.062); border: none">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="{% static post.usuario.imagen %}" alt="profilepic"
                            class="rounded-circle img-fluid bg-white"
                            style="object-fit: cover; width: 80%; height: 75px">
                    </div>
                    <div class="col-md-10">
                        <p class="text-muted">{{post.usuario.nombre}}</p>
                        <p>{{post.contenido}} - <span class="badge badge-pill badge-info"
                                style="background-color:  rgb(177, 156, 217) !important;">{{post.preferencia.gusto}}</span>
                        </p>
                        <img src="{% static post.imagen %}" alt="" style="width: 100%;" id="postImage" name="postImage">
                    </div>
                </div>
                <div class="row" style="margin-top: 15px">
                    <div class="col-12">
                        <button class="btn btn-outline-app" onclick="getLikePost('{{post.pk}}')">
                            <i class="fa-regular fa-heart" style="margin-right: 7px;"></i>Like
                        </button>
                        <button class="btn btn-outline-app" onclick="commentPost('{{post.pk}}')">
                            <i class="fa-regular fa-comment" style="margin-right: 7px;"></i>Comments
                        </button>

                        {% if post.usuario.pk == user.pk %}
                        <button class="btn btn-outline-app"
                            onclick="editPost('{{post.pk}}','{{post.contenido}}','{{post.preferencia.pk}}')">
                            <i class="fa-regular fa-pen-to-square" style="margin-right: 7px;"></i>Edit
                        </button>

                        <button class="btn btn-outline-app" onclick="deletePost('{{post.pk}}')">
                            <i class="fa-regular fa-trash-can" style="margin-right: 7px;"></i>Delete
                        </button>
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!--------------------------------------- Modals --------------------------------------->
<!----------- Edit Modal ----------->
<div class="modal fade" id="updatePostModal" tabindex="-1" aria-labelledby="updatePostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/updatePost/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="txtIdPost" id="txtIdPost" class="form-control" hidden>
                    <div class="row justify-content-center">
                        <div class="col-md-2">
                            <img src="{% static user.imagen %}" alt="profilepic"
                                class="rounded-circle img-fluid bg-white"
                                style="object-fit: cover; width: 80%; height: 75px">
                        </div>
                        <div class="col-md-10">
                            <input type="text" name="txtUpdatePost" id="txtUpdatePost" class="form-control"
                                placeholder="Share your thoughts" style="width: 100%; height: 100px;" required>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-6">
                                    <input type="file" name="txtUpdatePostImage" id="txtUpdatePostImage"
                                        class="form-control" accept="image/*">
                                </div>
                                <div class="col-md-6">
                                    <select id="txtUpdatePostPreference" name="txtUpdatePostPreference"
                                        class="form-control" required>
                                        {% for posiblePreference in preferencePost%}
                                        <option value="{{posiblePreference.pk}}">{{posiblePreference.gusto}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 10px;">
                                <div class="col-12">
                                    <img src="{% static post.usuario.imagen %}" alt="" style="width: 100%;"
                                        id="postUpdateImage" name="postUpdateImage">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row justify-content-center" style="margin-top: 25px;">
                        <button class="btn btn-outline-app"><i class="fa-regular fa-pen-to-square"
                                style="margin-right: 7px;"></i>Update Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!----------- Delete Modal ----------->
<div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deletePostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/deletePost/" method="POST" enctype="multipart/form-data">
                    <div class="row justify-content-center text-center">
                        <div class="col-md-8">
                            {% csrf_token %}
                            <input type="text" name="txtIdDeletePost" id="txtIdDeletePost" class="form-control"
                                value="postID" hidden>
                            <img src="{% static 'images/question-icon.webp' %}" alt="profilepic" style="width: 50%;">
                            <p style="margin-top: 8px;">Are you sure you would like to delete this post?</p>

                        </div>
                    </div>
                    <div class="row justify-content-center text-center">
                        <div class="col-md-4">
                            <button class="btn btn-outline-app"><i class="fa-regular fa-trash-can"
                                    style="margin-right: 7px;"></i>Delete Post</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!----------- Comments Modal ----------->
<div class="modal fade" id="postCommentModal" tabindex="-1" aria-labelledby="postCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">

                <!--New comment form -->
                <input type="text" name="txtIdPostComment" id="txtIdPostComment" class="form-control" value="postID"
                    hidden>
                <div class="row justify-content-center text-center">
                    <div class="col-md-2">
                        <img src="{% static user.imagen %}" alt="profilepic" class="rounded-circle img-fluid bg-white"
                            style="object-fit: cover; width: 80%; height: 75px">
                        <div class="row justify-content-center" style="margin-top: 25px;">
                            <button onclick="createNewComment()" class="btn btn-outline-app">
                                <i class="fa-brands fa-rocketchat" style="margin-right: 7px;"></i>Post
                            </button>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="txtpostComment" id="txtpostComment" class="form-control"
                            placeholder="Share your thoughts" style="width: 100%; height: 100%;" required>
                    </div>
                </div>

                <!-- List of comments -->
                <div id="commentsList" name="commentsList">
                    <div class="row justify-content-center" style="margin-top: 15px;">

                        <div class="col-md-11">

                            <div class="card" style="background-color: rgba(177, 156, 217, 0.432); border: none">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="{% static user.imagen %}" alt="profilepic"
                                                class="rounded-circle img-fluid bg-white"
                                                style="object-fit: cover; width: 80%; height: 75px">
                                        </div>

                                        <div class="col-md-10">
                                            <p class="text-muted">User Name</p>
                                            <p>Text goes here</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!----------- Likes Modal ----------->
<div class="modal fade" id="postLikesModal" tabindex="-1" aria-labelledby="postLikesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row justify-content-center text-center" id="likeForm">
                    <div class="col-md-3">
                        <!--New like form -->
                        <input type="text" name="txtIdpostLikes" id="txtIdpostLikes" class="form-control" value="postID"
                            hidden>
                        <button class="btn btn-outline-app" onclick="LikePost()">
                            <i class="fa-regular fa-heart" style="margin-right: 7px;"></i>Like
                        </button>
                    </div>
                </div>

                <div class="row justify-content-center text-center" id="dislikeForm">

                    <!--New comment form -->
                    <form action="/postDislike/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="txtIdpostDislike" id="txtIdpostDislike" class="form-control"
                            value="postID" hidden>
                        <button class="btn btn-outline-app">
                            <i class="fa-solid fa-heart" style="margin-right: 7px;"></i>Liked
                        </button>
                    </form>

                </div>

                <!-- List of Lines -->
                <div id="likesList" name="likesList">
                    <div class="row justify-content-center" style="margin-top: 15px;">
                        <div class="col-md-11">

                            <div class="card" style="background-color: rgba(177, 156, 217, 0.432); border: none">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="{% static user.imagen %}" alt="profilepic"
                                                class="rounded-circle img-fluid bg-white"
                                                style="object-fit: cover; width: 60%; height: 55px">
                                        </div>
                                        <div class="col-md-10">
                                            <p class="text-muted" style="margin: 3px;">User Name</p>
                                            <p style="margin-bottom: 0px;">Likes this post</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!--------------------------------------- JS --------------------------------------->
{% load static %}

<script src="{% static 'Js/postValidations.js' %}"></script>

<script>
    const fileEl = document.getElementById('txtPostImage');

    fileEl.addEventListener('change', () => {

        const fr = new FileReader();
        fr.readAsDataURL(fileEl.files[0]);

        fr.addEventListener('load', () => {
            const url = fr.result;
            document.getElementById('postImage').src = url;
        })
    })

</script>

<script>
    const fileEl2 = document.getElementById('txtUpdatePostImage');

    fileEl2.addEventListener('change', () => {

        const fr = new FileReader();
        fr.readAsDataURL(fileEl2.files[0]);

        fr.addEventListener('load', () => {
            const url = fr.result;
            document.getElementById('postUpdateImage').src = url;
        })
    })

</script>

{% endblock %}