{% extends 'applicationBase.html' %}

{% block content %}
{% load static %}
  <div class="main-container">
    <div class="user-container">
      <div class="main-userInfo-container">
        <div class="userInfo-container">
          <div class="pfp-container">
            {% for publicacion in publicaciones %}
            <div class="post-container">
              <div class="topInfo-post-txt">
                <p class="">{{ publicacion.usuario.nombre }}</p>
              </div>
              <div class="post">
                <p class="">{{ publicacion.descripcion }}</p>
                <div class="postImg-container">
                  <img src='{% static publicacion.imagen.url %}' class="postImg" />
                </div>
              </div>
              <div class="bottom-post">
                <!-- Botón de Modificar -->
                <a href="{% url 'editar_publicacion' %}" class="bottom-post-item">
                  <i class="fa-solid fa-pencil" id="edit"></i>
                  <p>Modificar</p>
                </a>
                <!-- Botón de Borrar -->
                <a href="{% url 'eliminar_publicacion'  %}" class="bottom-post-item">
                  <i class="fa-solid fa-trash" id="trash"></i>
                  <p>Borrar</p>
                </a>
              </div>
              <div class="bottom-post">
                <div class="bottom-post-item">
                  <i class="fa-solid fa-heart" id="heart"></i>
                  <p class="">{{ publicacion.likes }}</p>
                </div>
                <div class="bottom-post-item">
                  <i class="fa-solid fa-comment" id="comment"></i>
                
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
    </div>
    
  </div>
</body>
{% endblock %}